
#head
{
	background-color: rgb(24, 0, 54);
	color: white;
	width: 99.7%;
	margin:1px;
	margin-bottom: 0;
	text-align: center;
    border-top-right-radius: 100px;
}
#headd
{
	background-color: black;
	color: purple;
	width: 99.7%;
	margin:1px;
	margin-bottom: 0;
	text-align: center;
    border-top-right-radius: 100px;
}
#dmas
{
	background-color: black;
	color: white;
}
#mid
{
	background-color: rgb(24, 0, 54);
    width: 99.8%;
    padding-bottom: 3%;
}
#a
{
	margin-left: 43%;
}
#ab
{
	margin-left: 1%;
}
.cente
{
	margin: 3%;
	margin-left: 35%;
	font-family: 'Butcherman';
	background-color: yellow;
	display: inline-block;
	border-radius: 10px;
}
#left
{
	position: relative;
	left: 20%;
}
#right
{
	position: relative;
	right: -20%;
}
@media screen and (max-width:700px)
{
#head
{
	background-color: rgb(24, 0, 54);
	color: white;
	/*margin-left:5%;*/
	text-align: center;
	font-size:xx-small;
    border-top-right-radius: 50px;
    margin-bottom: -1px;
}
#headd
{
	background-color: black;
	color: purple;
	/*margin-left:5%;*/
	text-align: center;
	font-size:xx-small;
    border-top-right-radius: 50px;
    margin-bottom: 3px;
}
#a
{
	margin-left: 30%;
}
#left
{
	position: relative;
	left: 0;
}
#right
{
	position: relative;
	right: 0;
}
}
@media screen and (max-width:900px)
{
	.cente
{
	
	
	display: inline-block;
	margin-left: 2%;
	font-size: 30px;
	background-color: yellow;
	/*border-radius: 10px;*/
}
.dm
{
	width: 16%;
	margin-bottom: 0.8rem;
}
.at i
{
font-size: 1em;
}
}

/*box-sizing: border-box;*/
.bold
{
background-color: rgb(24, 0, 54);
color: white;
padding: 0.5em;
margin-bottom: 0.8em;
text-decoration: none;
display: inline-block;
display: button;
}
li
{
	margin: 10px 0px;
}
a
{
	text-decoration: none;
	padding: 2px 5px;
}
#side
{
	float: left;
	/*margin: 0.5em;*/
}

.fas.fa-leaf
{
	color: lightgreen;
	font-size: 2em;
}
i
{
	font-weight: bold;
	font-size: 1.5em;
}
table
{
	
   position: relative;
   left: 38%;
	outline:5px solid green;
	text-align: center;
	border:2px solid black;
    margin: 1em;
	box-sizing: border-box;
}
td
{
	padding:1em;
}
th
{
	background: green;
	padding: 0.5em;
margin-bottom: 0.8em;
box-sizing: border-box;
}
@media screen and (max-width: 1100px)
{
	table
{
 position: relative;
   left: 0;  
   
	outline:5px solid green;
	text-align: center;
	border:2px solid black;
    margin: 0em;
	box-sizing: border-box;
}
td
{
	padding: 0em;
}
th
{
	padding: 0;
}
}
.cus:hover
{
	background-color: rgb(24, 0, 54);
	text-decoration: none;
	color: green;
	padding: 3px 3px;
	margin: 2 5px;
}
.at
{
margin: 0 50px;
}
#dark
{
	background-color: black;
}
