#head
{
	background-color: rgb(24, 0, 54);
	color: white;
	width: 99.7%;
	margin:1px;
	margin-bottom: 0;
	text-align: center;
    border-top-right-radius: 100px;
}
.hc
{
	margin: 1rem;
	padding: 1rem;
	text-align: center;
	background-color: blue;
	opacity: 0.8;
	display: inline-block;
	margin-left: 45%;
	color: gray;
	border-radius: 10px;
}
#cd
{	letter-spacing: 0.1em;
	background-color: lightgray;
	margin-left: 30%;
	margin-right: 30%;
    border-radius: 5px;
    padding-left: 7rem;
}
@media screen and (max-width:700px)
{
	#head
{
	background-color: rgb(24, 0, 54);
	color: white;
	/*margin-left:5%;*/
	text-align: center;
	font-size:xx-small;
    border-top-right-radius: 50px;
    margin-bottom: -1px;
}
.hc
{
	margin-left: 25%;
}
#cd
{
	margin-left: 10%;
	margin-right: 10%;
    border-radius: 5px;
    padding-left: 1rem;
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
}